[submodule "lib/c-vector"]
	path = lib/c-vector
	url = https://github.com/eteran/c-vector.git
[submodule "lib/shaderutils"]
	path = lib/shaderutils
	url = git@github.com:AIG-Livny/shaderutils.git
[submodule "lib/c-utils"]
	path = lib/c-utils
	url = https://github.com/barrust/c-utils
